 <div class="row mt-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div style="text-align: center;">
                            <h2>Enter your ASK IT Ticket number</h2>
                    <div class="form-group d-flex justify-content-center">
                        <input
                                type="text"
                                class="form-control"
                                id="ticket_id"
                                placeholder="Enter Ticket Number"
                                style="width: 50%;"
                        />
                    </div>
                        <button
                                type="button"
                                class="btn btn-primary"
                                id="get_ticket_details">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>