<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <div class="float-left">
                <a href="index.php" title="{{#str}}home, local_cts_co{{/str}}"
                   class="btn btn-lg btn-outline-primary">
                    {{#str}}home, local_cts_co{{/str}}
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-3">{{#str}}details, local_cts_co{{/str}}</h3>
                        <b>{{#str}}ticket, local_cts_co{{/str}}:</b> <a href="{{halo_url}}/tickets?id={{halo_ticket_id}}
                        " target="_blank">
                        SR-{{halo_ticket_id}}</a><br>
                        <b>{{#str}}requested_for, local_cts_co{{/str}}:</b> {{for_user}}<br>
                        <b>{{#str}}date_requested, local_cts_co{{/str}}:</b> {{timecreated}}<br>
                        <b>{{#str}}agent, local_cts_co{{/str}}:</b> {{agent}}<br>
                        <h5 class="mt-2">{{#str}}request, local_cts_co{{/str}}</h5>
                        <p>
                            {{{description}}}
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-3">{{#str}}process_status, local_cts_co{{/str}}</h3>
                        <span class="badge badge-{{new_request_process}}">New Request</span><br>
                        <span class="badge badge-{{quote_process}}">Quote Process</span><br>
                        <span class="badge badge-{{order_process}}">Order Submitted</span><br>
                        <span class="badge badge-{{receiving_process}}">Receiving/Inventory Stage</span><br>
                        <span class="badge badge-{{order_complete}}">Order Completed</span><br>
                        <span class="badge badge-{{inventory_process}}">Inventory Processing</span><br>
                        <span class="badge badge-{{imaging_process}}">Imaging Stage</span><br>
                        <span class="badge badge-{{setup_process}}">Setup /Deployment Stage</span><br>
                        <span class="badge badge-{{pickup_process}}">Scheduled Pickup/Shipping</span><br>
                        <span class="badge badge-{{deployment_process}}">Deployment</span><br>
                        <span class="badge badge-{{deployment_process_completed}}">Deployment Completed</span><br>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-3">{{#str}}timeline, local_cts_co{{/str}}</h3>
                    <input type="hidden" id="timeline" value="{{timeline}}">
                    <div id="my-timeline"></div>
                </div>
            </div>
        </div>
    </div>

</div>